body {
 font-family: Arial, sans-serif;
 text-align: center;
 background: linear-gradient(120deg, #222, #444);
 color: white;
 margin-top: 10%;
}

h1 {
 font-size: 3em; }
      
p {
 font-size: 1.2em; }
